################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.suo
/.vs/WDM-inject-dnf/v16
/WDM-inject-dnf/x64
/x64
/DriverLoader/x64/Debug
